.contain {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}
.btn-close {
  position: absolute;
  top: -10px;
  left: 5px;
  float: right;
}
